<nav class="navbar navbar-expand-lg navbar-light navbar-top bg-white mb-5 fw-bold">
    <div class="container col-12 col-md-8">
      <a class="navbar-brand fw-bold" href="#">INFOSEC</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-content">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">REST Countries</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/weather.php" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Reusability
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/examples/weather.php">MetaWeather</a></li>
              <li><a class="dropdown-item" href="/examples/weather-search.php">MetaWeather Search</a></li>
              <li><a class="dropdown-item" href="/examples/trivia.php">Random Trivia (onload)</a></li>
            </ul>
          </li>
        </ul>
        <ul class="navbar-nav d-flex">
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/pmerrill/infosec" target="_blank" rel="nofollow"><i class="fab fa-github fs-5 fw-bold"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>